.moviesContainer {
  padding-top: 68px;
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (min-width: 768px) {
  .moviesContainer {
    padding-left: 68px;
    padding-right: 68px;
  }
}
