.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 320px; */
  margin: 0 auto;
  padding-top: 110px;
  padding-left: 32px;
  padding-right: 32px;
}

.title {
  position: absolute;
  top: 68px;
  left: 32px;
  font-size: 16px;
  font-weight: 400;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .homeContainer {
    padding-left: 68px;
    padding-right: 68px;
  }

  .title {
    left: 68px;
    font-size: 18px;
  }
}
